.register-container{
    width: 100vw;
    padding: 15px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: skyblue;
}
h2{
    color: white;
    text-align: center;
}
.input-class{
    width: 89%;
    height: 30px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.register-button{
   color: #fff;
   width: 89%;
   cursor: pointer;
   height: 40px;
   background-color: rgb(19, 79, 119);
   border-radius: 10px;
   border: none;
   font-weight: bold;
}
.register-button:hover{
    background-color: rgba(9, 32, 210, 0.725);
}